[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "==4.6.5"
python-docx = "==0.8.11"
django = "*"
gunicorn = "*"
djangorestframework = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
simplejwt = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pyyaml = "*"
django-rest-swagger = "*"
drf-yasg = {extras = ["validation"], version = "*"}

[dev-packages]
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
